<div class = "keep-component-note-taker-panel">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Take Notes
      </mat-panel-title>
    </mat-expansion-panel-header>
   <div class = 'keep-component-note-taker-wrapper' >
     <mat-form-field>
       <input matInput [(ngModel)] = "note.title" placeholder="Title">
     </mat-form-field>

     <mat-form-field>
       <input matInput [(ngModel)] = "note.text" placeholder="Text">
     </mat-form-field>
     <div class = 'keep-component-button'>
       <button mat-button (click) = "takeNotes()">Submit</button>
     </div>
   </div>

  </mat-expansion-panel>
</div>

<div class = 'keep-note-container'>
  <mat-card class = 'keep-note-card' *ngFor = 'let note of notes'>
    <mat-card-title>
      {{note.title}}
    </mat-card-title>
    <mat-card-content>
      {{note.text}}
    </mat-card-content>
  </mat-card>
</div>
